*{
    margin: 0;
}
form{
    background-color: white !important;
    .bg-gray{
            background-color:  rgba(198, 198, 200, 0.825);
        }
}
.container_com{
    :last-child{
      font-size: 2em;  
    }
}
tr{
    th{
        font-weight:500;
    }
}